<%= render :partial => 'layouts/list_menu_panel' %>

<p><%= site.close_list_text %></p>
<% form_tag close_list_path do %>
  <input type="image" title="Encerrar Lista" value="encerrar" onClick="confirm('Tem certeza que deseja encerrar a lista ?')"/>
<% end %>
