<% migalha_current_list 'encerrar lista' %>

<%= render :partial => 'layouts/list_menu_panel' %>

<p><%= site.close_list_text %></p>
<% form_tag close_list_path do %>
  <input type="image" title="Encerrar Lista" value="encerrar" />
<% end %>
