<p>Sua conta em Arte de Receber Casa:</p>

<p>
  <b>Nome de usuário</b><br/>
  <%=h @user.login %>
</p>

<p>
  <b>Nova senha</b><br/>
  <%=h @password %>
</p>

<p>Certifique-se de alterar sua senha.</p>
