<h1><%= @spam.title %></h1>

<p>
  <%= image_tag 'http://' + SITE_URL + @spam.photo.url %>
</p>

<p><%= @spam.body %></p>

<p>
  <%= link_to "Ir para a loja pessoal #{@spam.list.title}", @url %>
</p>
