<% migalha 'esqueci minha senha' %>

<h1>Esqueci minha senha</h1>

<% form_tag send_password_path do -%>

  <p><%= label_tag 'email', '*Seu email:' %><br/>
  <%= text_field_tag :email, '', :class => 'campoTexto' %></p>
  
  <input class="botaoForm" type="image" title="enviar" value="Enviar" src="/images/btEnviar.gif"/>
<% end %>
