<h1>Arte de Receber Casa</h1>

<h2>Nova Entrega</h2>

<p>
  <b>Usuário</b><br/>
  <%= @delivery.user.name %>
<p>
<p>
  <b>Lista</b><br/>
  <%= @delivery.name %>
<p>

<p>
  <%= link_to 'Exibir entrega', @url %>  
</p>
