<% content_for :migalha do %>fale conosco<% end %>

<h1 title="Fale Conosco">Fale Conosco</h1>

<% form_tag send_fale_conosco_path do %>
  <p>
    <label for="nome">Nome:</label>
    <input class="campoTexto" name="name" type="text" />
  </p>
  <p>
    <label for="emailCliente">E-mail:</label>
    <input class="campoTexto" name="email"  type="text" />
  </p>
  <p>
    <label for="telefone">Telefone:</label>
    <input class="campoTexto" name="phone" type="text" />
  </p>
  <p>
    <label for="mensagem">Mensagem:</label><br/>
    <textarea name="message" cols='40'></textarea>
  </p>
  <p class="checkNews">
    <%= check_box_tag :newsletter, '1', :checked => true %>
    <label for="cadastroCliente">Desejo receber informações sobre a Arte de Receber.</label>
  </p>
  <input class="botaoForm" type="image" title="enviar" value="Enviar" src="/images/btEnviar.gif"/>
<% end %>
