<h1>Email</h1>
<br/>
<% form_for(@email_config) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email_adress, 'Email do Administrador' %><br />
    <%= f.text_field :email_adress %>
  </p>
  <br/>
  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
