<div id="destaque">
    <a href="/noiva/siteprodutovisualizar.visualizar.logic?id=${produtoDestaque.id}" title="saiba mais"><span></span>saiba mais</a>
    <h3>Produto em destaque > nome_produto R$ preço</h3>
</div>
