<% unless featured_product.nil? %>
  <div id="destaque">  
    <%= link_to '<span></span>saiba mais', view_product_path(featured_product.id) %>
    <h3>Produto em destaque > <%= featured_product.name %> R$ <%= featured_product.price %></h3>
  </div>
<% end %>
