<% unless @mail.title.blank? %>
  <h1><%= @mail.title %></h1>
<% end %>

<% if @has_image %><p><%= image_tag @image %></p><% end %>

<% unless @mail.body.blank? %>
  <p><%= @mail.body %></p>
<% end %>
