/* 
Document   : estrutura
Created on : 13/09/2008, 10:19:21
Author     : Diego
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {    
    font-family:arial;
    font-size:12px;
}
p, h1, h2, h3 {
  padding: 10px 0 10px 0;
}
img {
    border: none;
}
#user_bar {
    position:absolute;
    top:15px;
    right:15px;
}
#esquerda {
    position: absolute;
    background: #d9e6f7;
}
#meio {
    margin-left: 170px;
    margin-right: 220px;
    background: silver;
}
#direita {
    position: absolute;
    top: 105px;
    right: 10px;
    width: 200px;
    background: silver;
}

#topo {
    font-style:normal;
    margin: 5px 0 10px 0;
    height: 27px;
    background: #d9e6f7;
}

#conteudo {
    padding-left:180px;
    padding-right:180px;
}

