<% if !logged_in? and current_store.nil? %>
  <ul id="menuAcoes" class="listaHorizontal">
    <li><%= link_to 'Criar minha lista de presentes', account_path %></li>
    <li> | </li>
    <li><%= link_to 'Minha lista de presentes', login_path %></li>
    <li> | </li>
    <li><%= link_to 'Visitar listas de presentes', visit_list_path %></li>
  </ul>
  <hr/>
<% end %>
