<% unless logged_in? %>
  <ul id="menuAcoes" class="listaHorizontal">
    <li><%= link_to 'Criar minha lista de presentes', account_path %></li>
    <li> | </li>
    <li><%= link_to 'Minha lista de presentes', account_list_path %></li>
    <li> | </li>
    <li><%= link_to 'Visitar listas de presentes', account_list_path %></li>
  </ul>
<% end %>
