<% unless logged_in? %>
  <ul id="menuAcoes" class="listaHorizontal">
    <li><a href="#">Criar minha lista de presentes</a></li>
    <li> | </li>
    <li><a href="#">Minha lista de presentes</a></li>
    <li> | </li>
    <li><a href="#">Visitar listas de presentes</a></li>
  </ul>
<% end %>
