<ul id="menuInstitucional" class="listaHorizontal">
  <li><%= link_to '&lt;&lt; HOME', home_path %></li>
  <li> | </li>
  <li><%= link_to 'QUEM SOMOS', we_path %></li>
  <li> | </li>
  <li><%= link_to 'NOSSA LOJA', showroom_path %></li>
  <li> | </li>
  <li><%= link_to 'FALE CONOSCO', fale_conosco_path %></li>
</ul>
