<% if logged_in? %>
  <div id="menuPainel">
    <p>Olá <%= current_user.name %></p>
    <ul class="listaHorizontal">
      <li><%= link_to 'Minha Conta', account_path %></li>
      <li>|</li>
      <li><%= link_to 'Sair', logout_path %></li>
    </ul>
  </div>
<% end %>
<hr>
