<% content_for :body_id do %>politicaSite<% end %>

<% migalha 'políticas' %>

<% content_for :sidebar do %>
  <div id="sidePolicies">
    <h2>Políticas do Site</h2>
    <ul class='listaVertical'>
      <% for p in Policy.all %>
        <li><%= link_to '> ' + p.menu_title, :anchor => p.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% for p in Policy.all %>
  <a name="<%= p.name %>"></a>
  <h2><%= p.text_title %></h2>
  <p><%= p.text %></p>
<% end %>
