<% content_for :body_id do %>politicaSite<% end %>

<% migalha 'políticas' %>

<% content_for :sidebar do %>
  <h2>Políticas do Site</h2>
  <ul class='listaVertical'>
    <% for p in Policy.all %>
      <li><%= link_to '> ' + p.name, :anchor => p.name %></li>
    <% end %>
  </ul>
<% end %>

<% for p in Policy.all %>
  <a name="<%= p.name %>"></a>
  <h2><%= p.name %></h2>
  <p><%= p.text %></p>
<% end %>
